@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Mulish, sans-serif;
}

h1, h2, h3 {
  color: #6F42C1;
  font-weight: 800;
}

p {
  color: #7c7c7c;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #6F42C1;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

li {
  line-height: 2;
}

a {
  text-decoration: none;
}

.nav-scrolled {
  background-color: white;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
}

.nav-container {
  position: fixed;
  z-index: 9999999;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 1em;
  z-index: 99;
  background-color: #F0ECF9;
}

nav .logo {
  color: black;
  font-size: 2rem;
  font-family: 'Play', sans-serif;
}

nav .ham {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.nav-links {
  padding: 100px 2em;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 101;
  margin-left: auto;
  top: -5%;
  right: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-links .close {
  position: absolute;
  right: 50px;
  top: 70px;
  font-size: 25px;
  cursor: pointer;
}

.nav-links .link {
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.nav-links .link a {
  color: black;
}

.nav-links .link:hover a {
  color: #B0A9E5;
}

.hero-container {
  display: -ms-grid;
  display: grid;
  background-color: #F0ECF9;
  padding-top: 6rem;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.hero-container .title-heading {
  text-align: center;
}

.hero-container .title-heading .sub-heading {
  margin-bottom: 0px;
  font-weight: 800;
  color: #B0A9E5;
  font-size: 14px;
  opacity: 0;
}

.hero-container .title-heading .main-heading {
  margin-top: 0;
  opacity: 0;
}

.hero-container .title-heading .desc-text {
  color: #7c7c7c;
  max-width: 500px;
  margin: auto;
  opacity: 0;
}

.hero-container .desc {
  padding-top: 50px;
  margin: auto;
}

.hero-container .desc img {
  max-width: 350px;
}

.stats-section {
  text-align: center;
  margin: 100px 0;
}

.stats-section h2 {
  font-weight: 800;
}

.stats-section .stats-desc {
  margin-bottom: 50px;
  color: #7c7c7c;
}

.stats-section .stats .stat {
  opacity: 0;
}

.stats-section .stats .stat img {
  width: 40px;
}

.stats-section .stats .stat h1, .stats-section .stats .stat p {
  margin-top: 5px;
}

.stats-section .stats .stat p {
  opacity: 0;
}

.about {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: auto;
}

.about ul, .about p {
  color: #7c7c7c;
  margin-bottom: 30px;
  line-height: 1.4;
}

.about .video {
  text-align: center;
  margin-bottom: 50px;
}

.about .video iframe {
  width: 90%;
}

.direction {
  margin: 50px 0;
  display: -ms-grid;
  display: grid;
}

.direction .dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  opacity: 0;
}

.direction h3 {
  margin-bottom: 0;
  opacity: 0;
}

.direction img {
  width: 40px;
  margin-right: 15px;
}

.prevention {
  display: -ms-grid;
  display: grid;
  background-color: #F0ECF9;
  padding: 100px 0;
}

.prevention img {
  width: 60px;
  margin: auto;
  margin: 30px;
}

.prevention .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.prevention .card {
  border-radius: 12px;
  background-color: #E2D9F3;
  text-align: center;
  opacity: 0;
}

.prevention .card .card-desc {
  padding: 1em;
  background-color: #fff;
  text-align: left;
  border-radius: 12px;
  color: #7c7c7c;
  height: 60%;
}

.prevention .card .card-desc h3, .prevention .card .card-desc p {
  opacity: 0;
}

.prevention .prev-desc {
  padding: 2em;
  opacity: 0;
}

.prevention .prev-desc li::before {
  content: '\f058';
  font-family: FontAwesome;
  border-radius: 50%;
  margin-right: 10px;
  color: green;
}

.prevention .prev-desc p, .prevention .prev-desc ul {
  line-height: 1.5;
  color: #7c7c7c;
}

.protection {
  padding: 6rem 0;
}

.protection .head {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 6rem;
}

.protection .head .sub-heading, .protection .head .main-heading, .protection .head .desc-text, .protection .head button {
  opacity: 0;
}

.protection .details {
  display: -ms-grid;
  display: grid;
}

.protection .details .donts li::before {
  content: '\f057';
  font-family: FontAwesome;
  border-radius: 50%;
  margin-right: 10px;
  color: red;
}

.protection .details li::before {
  content: '\f058';
  font-family: FontAwesome;
  border-radius: 50%;
  margin-right: 10px;
  color: green;
}

.protection .details .lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 2em;
  margin-bottom: 50px;
  line-height: 1.4;
}

.protection .details img {
  width: 90vw;
  margin: auto;
}

.symptoms {
  background-color: #F0ECF9;
  padding: 5rem 1em;
}

.symptoms .symp-desc {
  text-align: center;
  padding-bottom: 5rem;
}

.symptoms h3 {
  margin-top: 0;
}

.symptoms .symp-cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.symptoms .symp-cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 1em;
  opacity: 0;
}

.symptoms .symp-cards .cards .desc h3, .symptoms .symp-cards .cards .desc p {
  opacity: 0;
}

.symptoms .symp-cards .cards img {
  width: 100px;
  height: 170px;
}

.symptoms .ps {
  margin-top: 50px;
  text-align: center;
}

@-webkit-keyframes animvertical {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animvertical {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animhorizontal {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animhorizontal {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about {
    width: 70%;
  }
  .direction {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .cards {
    grid-gap: 30px;
    padding: 0 2em;
  }
  .donts {
    margin-left: 100px;
  }
  .dos {
    margin-left: auto;
    margin-right: 100px;
  }
  .symp-cards {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (min-width: 1000px) {
  .hero-container {
    padding-top: 8rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .title-heading {
    text-align: left;
    margin-left: auto;
  }
  .title-heading .main-heading {
    font-size: 2.6rem;
    font-weight: 900;
  }
  .title-heading .desc-text {
    margin-left: 0;
    font-size: 18px;
  }
  .title-heading button {
    margin-top: 35px;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
  .about .vid-desc {
    padding: 2rem;
  }
  .direction {
    width: 70%;
    margin: auto;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .prevention {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .prevention .cards {
    margin-left: auto;
    grid-gap: 30px;
  }
  .prevention .cards .card {
    max-width: 250px;
    margin-bottom: 50px;
  }
  .prevention .prev-desc {
    width: 70%;
    margin: 100px 0;
  }
  .protection .head p {
    max-width: 700px;
    margin: auto;
  }
  .donts {
    margin-left: 100px;
  }
  .dos {
    margin-right: 0;
  }
  .details {
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
  }
  .details img {
    max-width: 400px;
  }
  .symp-cards {
    width: 70%;
    margin: auto;
    grid-gap: 30px;
    -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}
/*# sourceMappingURL=style.css.map */