@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Mulish, sans-serif;
}

h1, h2, h3 {
  color: #6F42C1;
  font-weight: 800;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #6F42C1;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

li::before {
  content: '\f058';
  font-family: FontAwesome;
  border-radius: 50%;
  margin-right: 10px;
}

.hero-container {
  display: -ms-grid;
  display: grid;
  background-color: #F0ECF9;
  padding-top: 6rem;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.hero-container .title-heading {
  text-align: center;
}

.hero-container .title-heading .sub-heading {
  margin-bottom: 0px;
  font-weight: 800;
  color: #B0A9E5;
  font-size: 14px;
}

.hero-container .title-heading .main-heading {
  margin-top: 0;
}

.hero-container .title-heading .desc-text {
  color: #7c7c7c;
  max-width: 500px;
  margin: auto;
}

.hero-container .desc {
  padding-top: 50px;
  margin: auto;
}

.hero-container .desc img {
  max-width: 350px;
}

.stats-section {
  text-align: center;
  margin: 100px 0;
}

.stats-section h2 {
  font-weight: 800;
}

.stats-section .stats-desc {
  margin-bottom: 50px;
  color: #7c7c7c;
}

.stats-section .stats .stat img {
  width: 40px;
}

.stats-section .stats .stat h1, .stats-section .stats .stat p {
  margin-top: 5px;
}

.about {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: auto;
}

.about ul, .about p {
  color: #7c7c7c;
  margin-bottom: 30px;
  line-height: 1.4;
}

.about .video {
  text-align: center;
  margin-bottom: 50px;
}

.about .video iframe {
  width: 90%;
}

.direction {
  margin: 50px 0;
  display: -ms-grid;
  display: grid;
}

.direction .dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.direction h3 {
  margin-bottom: 0;
}

.direction img {
  width: 40px;
  margin-right: 15px;
}

.prevention {
  display: -ms-grid;
  display: grid;
  background-color: #F0ECF9;
  padding: 100px 0;
}

.prevention img {
  width: 60px;
  margin: auto;
  margin: 30px;
}

.prevention .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.prevention .card {
  background-color: pink;
  border-radius: 12px;
  background-color: #E2D9F3;
  text-align: center;
}

.prevention .card .card-desc {
  padding: 1em;
  background-color: #fff;
  text-align: left;
  border-radius: 12px;
  color: #7c7c7c;
}

.prevention .prev-desc {
  padding: 2em;
}

.prevention .prev-desc p, .prevention .prev-desc ul {
  line-height: 1.5;
  color: #7c7c7c;
}

#anim {
  opacity: 0;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about {
    width: 70%;
  }
  .direction {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .cards {
    grid-gap: 30px;
    padding: 0 2em;
  }
}

@media screen and (min-width: 1000px) {
  .hero-container {
    padding-top: 8rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .title-heading {
    text-align: left;
    margin-left: auto;
  }
  .title-heading .main-heading {
    font-size: 2.6rem;
    font-weight: 900;
  }
  .title-heading .desc-text {
    margin-left: 0;
    font-size: 18px;
  }
  .title-heading button {
    margin-top: 35px;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
  .about .vid-desc {
    padding: 2rem;
  }
  .direction {
    width: 70%;
    margin: auto;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .prevention {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .prevention .cards {
    margin-left: auto;
    grid-gap: 30px;
  }
  .prevention .cards .card {
    max-width: 250px;
    margin-bottom: 50px;
  }
  .prevention .prev-desc {
    width: 70%;
    margin: 100px 0;
  }
}
/*# sourceMappingURL=style.css.map */